In [ ]:
from __future__ import print_function
import time
import intrinio_sdk as intrinio
from intrinio_sdk.rest import ApiException

intrinio.ApiClient().configuration.api_key['api_key'] = 'OjdjNWYxNjUzODU3MzkyNTE4YWRmZTk1ZTMwZTFiNTFi'

identifier = 'MSFT'
start_date = '2019-01-01'
end_date = '2020-08-29'
frequency = 'daily'
page_size = 100
next_page = ''

response = intrinio.SecurityApi().get_security_stock_prices(identifier, start_date=start_date, end_date=end_date, frequency=frequency, page_size=page_size, next_page=next_page)
print(response)

intrinio.screener('pricetoearnings~gt~10')

In [ ]:
from pymongo import MongoClient
from pprint import pprint
import numpy as np
import pandas as pd

client = MongoClient('mongodb+srv://readWrite-user:readWrite-pw@research.mrd30.mongodb.net/research?retryWrites=true&w=majority')

db = client.research
measurement_item = db.Measurement_item_info
cursor = db.get_collection('Measurement_item_info').find()

df =  pd.DataFrame(list(cursor))

print(df.to_dict("rows"))

print(df)
print(db)

In [ ]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect
import pandas as pd
import os
import psycopg2

server = Flask('app')
server.secret_key = os.environ.get('secret_key', 'secret')
server.config['SQLALCHEMY_DATABASE_URI'] = 'postgres://plrsqsxfozyrze:74a321364d3ec3d66ae04ea0711455ff1d224c5eb7e4f01d2d9e29dd99dddec8@ec2-34-198-103-34.compute-1.amazonaws.com:5432/dfk757hnbfc8ik'
# server.config['SQLALCHEMY_DATABASE_URI'] = 'postgresql://postgres:postgres@localhost:5432/Citibank.FYP'
server.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False
db = SQLAlchemy(server)

engine = create_engine(server.config['SQLALCHEMY_DATABASE_URI'])
inspector = inspect(engine)
inspector.get_columns('Client')

df = pd.read_sql('SELECT public.\"Client\".\"Ticker\" FROM public.\"Client\" lIMIT 5', engine)

print(df)

In [ ]:
import psycopg2
import numpy as np
import pandas as pd

conn = psycopg2.connect(
    host="localhost",
    database="Citibank.FYP",
    user="postgres",
    password="postgres")

cur = conn.cursor()
cur.execute("SELECT public.\"Client\".\"Ticker\" FROM public.\"Client\" lIMIT 5")
rows = cur.fetchall()
df =  pd.DataFrame(rows)
print(df)

cur.close()
conn.close()

In [ ]:
import numpy as np
import pandas as pd
import json
from pandas.io.json import json_normalize

df = pd.read_json(r'C:\Users\Harvey\Desktop\FYP\dump.json')
df.head()

In [ ]:
import numpy as np
import pandas as pd
import json
from pandas.io.json import json_normalize

df = pd.read_json(r'C:\Users\Harvey\Desktop\FYP\dump.json')

df['account'] = df.account.apply(lambda x: x[0])
df['position'] = df.position.apply(lambda x: x[0])
data = df.to_json(orient="records")
data = json.loads(data)
df = json_normalize(data, max_level=1)

df['position.scheduledDate'] = df['position.scheduledDate'].apply(lambda x: x[0])
df['position.valuation'] = df['position.valuation'].apply(lambda x: x[0])
data = df.to_json(orient="records")
data = json.loads(data)
df = json_normalize(data, max_level=3)

df['position.constituent.tradeReference.partyTradeIdentifier'] = df['position.constituent.tradeReference.partyTradeIdentifier'].str.get(0)
data = df.to_json(orient="records")
data = json.loads(data)
df = json_normalize(data, max_level=1)

df['position.constituent.holding.underlyingAsset.instrumentId.financialInstrument'] = df['position.constituent.holding.underlyingAsset.instrumentId'].str.get(0)
df['position.constituent.holding.underlyingAsset.instrumentId.ticker'] = df['position.constituent.holding.underlyingAsset.instrumentId'].str.get(1)
df = df.drop(columns="position.constituent.holding.underlyingAsset.instrumentId")
data = df.to_json(orient="records")
data = json.loads(data)
df = json_normalize(data, max_level=2)
df.head(300)

df['party.banker'] = df['party'].str.get(0)
df['party.ic'] = df['party'].str.get(1)
df['party.relationship'] = df['party'].str.get(2)
df['party.eg'] = df['party'].str.get(3)
df['party.pp'] = df['party'].str.get(4)
df['party.client'] = df['party'].str.get(5)
df = df.drop(columns="party")
df = df.drop(columns="position.constituent.holding.underlyingAsset.instrumentId.financialInstrument")
df = df.drop(columns="position.constituent.holding.underlyingAsset.instrumentId.ticker")
data = df.to_json(orient="records")
data = json.loads(data)
df = json_normalize(data, max_level=2)

df.to_csv("dump.csv")

In [7]:
import yfinance.__init__ as yf

stock = yf.Ticker("AAPL")
stock.info
stock.history()

              Open    High     Low   Close     Volume  Dividends  Stock Splits
Date
2020-09-03  126.91  128.84  120.50  120.88  257599600          0             0
2020-09-04  120.07  123.70  110.89  120.96  332607200          0             0
2020-09-08  113.95  118.99  112.68  112.82  231366600          0             0
2020-09-09  117.26  119.14  115.26  117.32  176940500          0             0
2020-09-10  120.36  120.50  112.50  113.49  182274400          0             0
2020-09-11  114.57  115.23  110.00  112.00  180860300          0             0
2020-09-14  114.72  115.93  112.80  115.36  140150100          0             0
2020-09-15  118.33  118.83  113.61  115.54  184642000          0             0
2020-09-16  115.23  116.00  112.04  112.13  154679000          0             0
2020-09-17  109.72  112.20  108.71  110.34  178011000          0             0
2020-09-18  110.40  110.88  106.09  106.84  287104900          0             0
2020-09-21  104.54  110.19  103.10  110.08  195713800          0             0
2020-09-22  112.68  112.86  109.16  111.81  183055400          0             0
2020-09-23  111.62  112.11  106.77  107.12  150718700          0             0
2020-09-24  105.17  110.25  105.00  108.22  167743300          0             0
2020-09-25  108.43  112.44  107.67  112.28  149981400          0             0
2020-09-28  115.01  115.32  112.78  114.96  137672400          0             0
2020-09-29  114.55  115.31  113.57  114.09   99382200          0             0
2020-09-30  113.79  117.26  113.62  115.81  142332500          0             0
2020-10-01  117.64  117.72  115.83  116.79  116120400          0             0
2020-10-02  112.89  115.37  112.22  113.02  144310900          0             0

In [8]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect
import pandas as pd
import os
import psycopg2
import yfinance.__init__ as yf
import math

server = Flask('app')
server.config['SQLALCHEMY_DATABASE_URI'] = 'postgres://plrsqsxfozyrze:74a321364d3ec3d66ae04ea0711455ff1d224c5eb7e4f01d2d9e29dd99dddec8@ec2-34-198-103-34.compute-1.amazonaws.com:5432/dfk757hnbfc8ik'
# server.config['SQLALCHEMY_DATABASE_URI'] = 'postgresql://postgres:postgres@localhost:5432/Citibank.FYP'
server.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False
db = SQLAlchemy(server)

engine = create_engine(server.config['SQLALCHEMY_DATABASE_URI'])
inspector = inspect(engine)
inspector.get_columns('Client')

df = pd.read_sql('SELECT * FROM public.\"Client\"', engine)

ticker_list = df.Ticker.unique()

ticker_list = list(filter(None, ticker_list))

yfinance_list = []
for ticker in ticker_list:
    ticker_row = [ticker]
    stock = yf.Ticker(ticker)
    #Include last Closing price in ticker_row
    ticker_row.append(float(stock.history(period="ytd")['Close'][len(stock.history(period="ytd"))-1]))
    
    #Include YTD% in ticker_row
    to_minus = float(stock.history(period="ytd")['Close'][0])
    ticker_row.append(round((ticker_row[1] / to_minus-1)*100 , 2))
    
    #Include 1d% in ticker_row
    to_minus = float(stock.history(period="ytd")['Close'][len(stock.history(period="ytd"))-2])
    ticker_row.append(round((ticker_row[1] / to_minus-1)*100 , 2))
    
    #Include 5d% in ticker_row
    to_minus = float(stock.history(period="5d")['Close'][0])
    ticker_row.append(round((ticker_row[1] / to_minus-1)*100 , 2))
    
    #Include 1mo% in ticker_row
    to_minus = float(stock.history(period="1mo")['Close'][0])
    ticker_row.append(round((ticker_row[1] / to_minus-1)*100 , 2))
    
    #Include 6mo% in ticker_row
    to_minus = float(stock.history(period="6mo")['Close'][0])
    ticker_row.append(round((ticker_row[1] / to_minus-1)*100 , 2))
    
    #Include 12mo% in ticker_row
    to_minus = float(stock.history(period="1y")['Close'][0])
    ticker_row.append(round((ticker_row[1] / to_minus-1)*100 , 2))
    
    #include Company Description in ticker_row
    ticker_row.append(stock.info["longBusinessSummary"])
    
    #Compile to yFinance list
    yfinance_list.append(ticker_row)

yfinance_df = pd.DataFrame(yfinance_list,columns=['Ticker','Closing Price','YTD%','1d %','5d %','1m %','6m %','12m %','Company Description'])

#Left join client df with yfinance df using "Ticker"
df = df.merge(yfinance_df, on='Ticker', how='left')

#Calculate % Change in Average Cost
avg_list = df["Average Unit Cost"].tolist()
closing_price_list = df["Closing Price"].tolist()

percentage_change = []
for i in range(len(avg_list)):
    if math.isnan(closing_price_list[i]) == False and avg_list[i] != None:
        percentage = (float(closing_price_list[i])/float(avg_list[i]) - 1) * 100
        percentage_change.append(percentage)
    else:
        percentage_change.append(None)

series = pd.Series(percentage_change, name="% Change from Avg Cost")

#Concatenate % Change in Average Cost series with Main df
df = pd.concat([df, series], axis=1)

df

,Bank Team,Bank Name,IC Name,Position As of Date,Relationship ID,EG Number,PP Code,Base Number,Portfolio Number,Financial Instrument Id,...,Security Name Line 1,Closing Price,YTD%,1d %,5d %,1m %,6m %,12m %,Company Description,% Change from Avg Cost
0,MR-AP Spore Malaysia Team,463eae5f99cf6682469ad81ab632e23638d11e709d6a7f...,7161c8127a8c0f6263b7b145bd96ee04f8c794b5b426ed...,12/8/2020,SR004088246,SR004088246-0005,SIHK,d910a069877d1f93f2d8efddeda160ea,444e0a04d84c5e013aa4e248d0718879,6.32E+11,...,AIA Group Ltd (1299.HK),75.9,-8.74,-0.33,-0.98,-4.46,13.43,4.39,"AIA Group Limited, together with its subsidiar...",86.486945
1,MR-AP Spore Malaysia Team,463eae5f99cf6682469ad81ab632e23638d11e709d6a7f...,ab69262756f26034f26fe68fa4e04d16,12/8/2020,SR004121255,SR004121255-0001,SIHK,daa46257957885b407114908997bee4d,1a7ab51cf957e97effc7b268c1c46165,5.21E+11,...,Ping An Insurance Group Co of China Ltd(2318.HK),79.5,-12.71,0.06,-1.18,-2.75,8.42,-9.22,"Ping An Insurance (Group) Company of China, Lt...",-8.424170
2,MR-AP Spore Philippines Team 1,0e48326c28743cf16d896a9dd6b2ce5f826d7c830a6835...,6381c66c21cbb3eec043f5a00d4d5b687b47a5b2cfa106...,12/8/2020,SR004022615,SR004022615-0007,SIHK,360cf70e13537634d061903c13139fff,35a1e60029f3ecb9d009fb5d9c3af69c,3.42E+11,...,BOC Hong Kong Holdings Ltd (2388.HK),20.4,-19.82,0.49,-0.24,-5.38,2.79,-18.47,"BOC Hong Kong (Holdings) Limited, an investmen...",-37.381824
3,MR-AP Spore Marketing Team 2,90121251a1060174c85cc7564aa26675,b7447d86049b0e266dce32b79f657058,12/8/2020,SR250824955,SR250824955-0005,SISI,5fb83ed1d370fb3906bfba168f316ef0,9e1f33f544772c08d12a89a9bc7e3d24,3.42E+11,...,BOC Hong Kong Holdings Ltd (2388.HK),20.4,-19.82,0.49,-0.24,-5.38,2.79,-18.47,"BOC Hong Kong (Holdings) Limited, an investmen...",-26.626623
4,MR-AP Spore Marketing Team 2,90121251a1060174c85cc7564aa26675,b7447d86049b0e266dce32b79f657058,12/8/2020,SR250824955,SR250824955-0001,SISI,ab0d9b58499dc5d984931f2f7041ab7c,6b49aadd141eb49381ee200b0d7a354e,9.20E+11,...,AEON REIT Investment Corp (3292 JP),118800.0,-16.33,-1.98,-1.33,4.76,28.97,-13.61,"AEON REIT Investment Corporation (hereinafter,...",-7.321175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7964,MR-AP Spore Marketing Team 4,22563ddc2157f7aeab31a43b5a585524,14a72149f27c20c5b53062f86e704683810f57d2cb979a...,10/5/2020,SR251271569,SR251271569-0007,SISI,22b9eb0e59fed3d0d039e81b01f890da,88d49dcf9a56f8115b2686a0ec9bf210,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7965,MR-AP Spore Marketing Team 4,22563ddc2157f7aeab31a43b5a585524,14a72149f27c20c5b53062f86e704683810f57d2cb979a...,10/5/2020,SR251271569,SR251271569-0007,SISI,22b9eb0e59fed3d0d039e81b01f890da,88d49dcf9a56f8115b2686a0ec9bf210,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7966,MR-AP Spore Marketing Team 4,22563ddc2157f7aeab31a43b5a585524,14a72149f27c20c5b53062f86e704683810f57d2cb979a...,10/5/2020,SR251271569,SR251271569-0007,SISI,22b9eb0e59fed3d0d039e81b01f890da,88d49dcf9a56f8115b2686a0ec9bf210,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7967,MR-AP Spore Marketing Team 4,22563ddc2157f7aeab31a43b5a585524,14a72149f27c20c5b53062f86e704683810f57d2cb979a...,10/5/2020,SR251271569,SR251271569-0007,SISI,22b9eb0e59fed3d0d039e81b01f890da,88d49dcf9a56f8115b2686a0ec9bf210,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7968,MR-AP Spore Marketing Team 4,b71f22535a22ff971d392eda8cf58995,14a72149f27c20c5b53062f86e704683143989100af6a9...,10/5/2020,SR251271569,SR251271569-0007,SISI,271c406d99fec7e79e7c3aadd7f06e0c,59517d90c401dd92646275a88b2ba4e8,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect
import pandas as pd
import os
import psycopg2
import yfinance.__init__ as yf
import math
import datetime as dt

stock = yf.Ticker("2388.hk")

# dt.date.fromtimestamp(stock.info["exDividendDate"]).strftime('%d/%m/%Y')

stock.info

{'52WeekChange': -0.2123552,
 'SandP52WeekChange': 0.13938725,
 'address1': 'Bank of China Tower',
 'address2': '53rd Floor No. 1 Garden Road',
 'algorithm': None,
 'annualHoldingsTurnover': None,
 'annualReportExpenseRatio': None,
 'ask': 20.6,
 'askSize': 0,
 'averageDailyVolume10Day': 6606918,
 'averageVolume': 11531120,
 'averageVolume10days': 6606918,
 'beta': 1.185542,
 'beta3Year': None,
 'bid': 20.55,
 'bidSize': 0,
 'bookValue': 29.09,
 'category': None,
 'circulatingSupply': None,
 'city': 'Central',
 'companyOfficers': [],
 'country': 'Hong Kong',
 'currency': 'HKD',
 'dateShortInterest': None,
 'dayHigh': 20.95,
 'dayLow': 20.5,
 'dividendRate': 1.44,
 'dividendYield': 0.0705,
 'earningsQuarterlyGrowth': -0.114,
 'enterpriseToEbitda': None,
 'enterpriseToRevenue': -0.468,
 'enterpriseValue': -25920282624,
 'exDividendDate': 1600128000,
 'exchange': 'HKG',
 'exchangeTimezoneName': 'Asia/Hong_Kong',
 'exchangeTimezoneShortName': 'HKT',
 'expireDate': None,
 'fax': '852 2810 5830',
 'fiftyDayAverage': 21.717142,
 'fiftyTwoWeekHigh': 28.9,
 'fiftyTwoWeekLow': 20.05,
 'fiveYearAverageReturn': None,
 'fiveYearAvgDividendYield': 4.5,
 'floatShares': 3587767255,
 'forwardEps': 3.43,
 'forwardPE': 6.005831,
 'fromCurrency': None,
 'fullTimeEmployees': 14867,
 'fundFamily': None,
 'fundInceptionDate': None,
 'gmtOffSetMilliseconds': '28800000',
 'heldPercentInsiders': 0.66059,
 'heldPercentInstitutions': 0.0932,
 'industry': 'Banks—Regional',
 'isEsgPopulated': False,
 'lastCapGain': None,
 'lastDividendDate': 1600128000,
 'lastDividendValue': 0.447,
 'lastFiscalYearEnd': 1577750400,
 'lastMarket': None,
 'lastSplitDate': None,
 'lastSplitFactor': None,
 'legalType': None,
 'logo_url': 'https://logo.clearbit.com/bochk.com',
 'longBusinessSummary': 'BOC Hong Kong (Holdings) Limited, an investment holding company, provides banking and related financial services to corporate and individual customers in Hong Kong, Mainland China, and internationally. The company operates through four segments: Personal Banking, Corporate Banking, Treasury, and Insurance. It offers savings, current, and time deposit accounts; mortgage plans; overdrafts; personal loans; personal life, medical and accident, travel and leisure, business protection, home, domestic helper, motor, and golfer insurance products; wealth management services; and Internet, phone, and mobile banking services. The company also provides cross-border services for corporate customers; business banking, trade finance and services, investment, treasury, corporate collection and payment, e-commerce, and card services; small business, asset-pledge, machinery and equipment financing, and project financing and syndicated loans; payroll, custody, and cash management services; and business comprehensive, property, liability, group, and retailer comprehensive insurance plans. In addition, it provides investment products and services, including securities, foreign exchange, fund, precious metals and FX margin, bonds, currency linked investment, structured products, bonds, and savings plans. The company operates approximately 190 branches, 280 automated banking centers, and approximately 1,000 self-service machines. BOC Hong Kong (Holdings) Limited was founded in 1917 and is based in Central, Hong Kong. The company is considered a Red Chip company due to its listing on the Hong Kong Stock Exchange. BOC Hong Kong (Holdings) Limited is a subsidiary of BOC Hong Kong (BVI) Limited.',
 'longName': 'BOC Hong Kong (Holdings) Limited',
 'market': 'hk_market',
 'marketCap': 217799688192,
 'maxAge': 1,
 'maxSupply': None,
 'messageBoardId': 'finmb_7687687',
 'morningStarOverallRating': None,
 'morningStarRiskRating': None,
 'mostRecentQuarter': 1593475200,
 'navPrice': None,
 'netIncomeToCommon': 30133000192,
 'nextFiscalYearEnd': 1640908800,
 'open': 20.95,
 'openInterest': None,
 'payoutRatio': 0.5392,
 'pegRatio': None,
 'phone': '852 2846 2700',
 'previousClose': 20.4,
 'priceHint': 3,
 'priceToBook': 0.70814717,
 'priceToSalesTrailing12Months': 3.930267,
 'profitMargins': 0.56883997,
 'quoteType': 'EQUITY',
 'regularMarketDayHigh': 20.95,
 'regularMarketDayLow': 20.5,
 'regularMarketOpen': 20.95,
 'regularMarketPreviousClose': 20.4,
 'regularMarketPrice': 20.95,
 'regularMarketVolume': 8272078,
 'revenueQuarterlyGrowth': None,
 'sector': 'Financial Services',
 'sharesOutstanding': 10572800000,
 'sharesPercentSharesOut': None,
 'sharesShort': None,
 'sharesShortPreviousMonthDate': None,
 'sharesShortPriorMonth': None,
 'shortName': 'BOC HONG KONG',
 'shortPercentOfFloat': None,
 'shortRatio': None,
 'startDate': None,
 'strikePrice': None,
 'symbol': '2388.HK',
 'threeYearAverageReturn': None,
 'toCurrency': None,
 'totalAssets': None,
 'tradeable': False,
 'trailingAnnualDividendRate': 1.439,
 'trailingAnnualDividendYield': 0.07053922,
 'trailingEps': 3.044,
 'trailingPE': 6.7674117,
 'twoHundredDayAverage': 22.823404,
 'volume': 8272078,
 'volume24Hr': None,
 'volumeAllCurrencies': None,
 'website': 'http://www.bochk.com',
 'yield': None,
 'ytdReturn': None}

In [27]:
server = Flask('app')
server.config['SQLALCHEMY_DATABASE_URI'] = 'postgres://plrsqsxfozyrze:74a321364d3ec3d66ae04ea0711455ff1d224c5eb7e4f01d2d9e29dd99dddec8@ec2-34-198-103-34.compute-1.amazonaws.com:5432/dfk757hnbfc8ik'
# server.config['SQLALCHEMY_DATABASE_URI'] = 'postgresql://postgres:postgres@localhost:5432/Citibank.FYP'
server.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False
db = SQLAlchemy(server)

engine = create_engine(server.config['SQLALCHEMY_DATABASE_URI'])
inspector = inspect(engine)
inspector.get_columns('Client')

[{'autoincrement': False,
  'default': None,
  'name': 'Bank Team',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Bank Name',
  'nullable': True,
  'type': VARCHAR(length=64)},
 {'autoincrement': False,
  'default': None,
  'name': 'IC Name',
  'nullable': True,
  'type': VARCHAR(length=64)},
 {'autoincrement': False,
  'default': None,
  'name': 'Position As of Date',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Relationship ID',
  'nullable': True,
  'type': VARCHAR(length=16)},
 {'autoincrement': False,
  'default': None,
  'name': 'EG Number',
  'nullable': True,
  'type': VARCHAR(length=16)},
 {'autoincrement': False,
  'default': None,
  'name': 'PP Code',
  'nullable': True,
  'type': VARCHAR(length=4)},
 {'autoincrement': False,
  'default': None,
  'name': 'Base Number',
  'nullable': True,
  'type': VARCHAR(length=32)},
 {'autoincrement': False,
  'default': None,
  'name': 'Portfolio Number',
  'nullable': True,
  'type': VARCHAR(length=32)},
 {'autoincrement': False,
  'default': None,
  'name': 'Financial Instrument Id',
  'nullable': True,
  'type': VARCHAR(length=12)},
 {'autoincrement': False,
  'default': None,
  'name': 'ISIN',
  'nullable': True,
  'type': VARCHAR(length=12)},
 {'autoincrement': False,
  'default': None,
  'name': 'Ticker',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Security Name',
  'nullable': True,
  'type': VARCHAR(length=100)},
 {'autoincrement': False,
  'default': None,
  'name': 'Print Report Class Name',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Asset Sub Class Name',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Asset Sub Sub Class Name',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Nominal Currency Code',
  'nullable': True,
  'type': VARCHAR(length=3)},
 {'autoincrement': False,
  'default': None,
  'name': 'Units',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Amount in CCY',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Amount in USD',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Average Unit Cost',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Current Price',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Last Movement Date',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Book Date',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Maturity Date',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'PE/RE Commitment Amount:',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'PE/RE Contribution Amount:',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'PE/RE Capital Contribution Fund Expenses (Outside Commitment)',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'PE/RE Distribution Amount:',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'PE/RE Outstanding Commitment Amount:',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'PE/RE Recallable Distributions:',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Loan / Cash Rate to client',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Cost of Fund',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Spread',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Tenor',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Contract Ref Number',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Contracted FX Rate',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Pay Currency Code',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Pay Amount',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Pay Amount(USD)',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Receive Currency Code',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Receive Amount',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Receive Amount(USD)',
  'nullable': True,
  'type': VARCHAR(length=50)},
 {'autoincrement': False,
  'default': None,
  'name': 'Tranch Code',
  'nullable': True,
  'type': VARCHAR(length=12)},
 {'autoincrement': False,
  'default': None,
  'name': 'Position Web Description',
  'nullable': True,
  'type': VARCHAR(length=300)},
 {'autoincrement': False,
  'default': None,
  'name': 'Security Name Line 1',
  'nullable': True,
  'type': VARCHAR(length=300)}]

In [34]:
df = pd.read_sql('SELECT public.\"Client\".\"Base Number\", public.\"Client\".\"Relationship ID\", public.\"Client\".\"Position As of Date\",public.\"Client\".\"Print Report Class Name\",public.\"Client\".\"Asset Sub Class Name\",public.\"Client\".\"Security Name\", public.\"Client\".\"Ticker\", public.\"Client\".\"Nominal Currency Code\", public.\"Client\".\"Units\", public.\"Client\".\"Amount in CCY\", public.\"Client\".\"Amount in USD\", public.\"Client\".\"Loan / Cash Rate to client\", public.\"Client\".\"Current Price\", public.\"Client\".\"Average Unit Cost\" FROM public.\"Client\" lIMIT 1', engine)

df

,Base Number,Relationship ID,Position As of Date,Print Report Class Name,Asset Sub Class Name,Security Name,Ticker,Nominal Currency Code,Units,Amount in CCY,Amount in USD,Loan / Cash Rate to client,Current Price,Average Unit Cost
0,d910a069877d1f93f2d8efddeda160ea,SR004088246,12/8/2020,EQUITIES,Common Stocks,AIA Group Ltd (1299.HK),1299.HK,HKD,"10,000.00","748,500.00","96,575.04",None,74.85,40.6999

In [76]:
import yfinance.__init__ as yf

stock = yf.Ticker('REP.MC')
stock.info

{'52WeekChange': -0.5784766,
 'SandP52WeekChange': 0.16381514,
 'address1': 'Repsol Campus',
 'address2': 'C/ Mendez Ã\x81lvaro, 44',
 'algorithm': None,
 'annualHoldingsTurnover': None,
 'annualReportExpenseRatio': None,
 'ask': 6.03,
 'askSize': 0,
 'averageDailyVolume10Day': 11788934,
 'averageVolume': 8993840,
 'averageVolume10days': 11788934,
 'beta': 0.966748,
 'beta3Year': None,
 'bid': 6.024,
 'bidSize': 0,
 'bookValue': 14.803,
 'category': None,
 'circulatingSupply': None,
 'city': 'Madrid',
 'companyOfficers': [],
 'country': 'Spain',
 'currency': 'EUR',
 'dateShortInterest': None,
 'dayHigh': 6.062,
 'dayLow': 5.92,
 'dividendRate': 0.98,
 'dividendYield': 0.16389999,
 'earningsQuarterlyGrowth': None,
 'enterpriseToEbitda': 9.776,
 'enterpriseToRevenue': 0.613,
 'enterpriseValue': 20960503808,
 'exDividendDate': 1592265600,
 'exchange': 'MCE',
 'exchangeTimezoneName': 'Europe/Madrid',
 'exchangeTimezoneShortName': 'CEST',
 'expireDate': None,
 'fiftyDayAverage': 6.3170857,
 'fiftyTwoWeekHigh': 15.665,
 'fiftyTwoWeekLow': 5.372,
 'fiveYearAverageReturn': None,
 'fiveYearAvgDividendYield': 6.97,
 'floatShares': 1390811243,
 'forwardEps': 1.52,
 'forwardPE': 3.9684212,
 'fromCurrency': None,
 'fullTimeEmployees': 22698,
 'fundFamily': None,
 'fundInceptionDate': None,
 'gmtOffSetMilliseconds': '7200000',
 'heldPercentInsiders': 0.08103,
 'heldPercentInstitutions': 0.34160998,
 'industry': 'Oil & Gas Integrated',
 'isEsgPopulated': False,
 'lastCapGain': None,
 'lastDividendDate': 1592265600,
 'lastDividendValue': 0.492,
 'lastFiscalYearEnd': 1577750400,
 'lastMarket': None,
 'lastSplitDate': 1513555200,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'logo_url': 'https://logo.clearbit.com/repsol.com',
 'longBusinessSummary': "Repsol, S.A. operates as an integrated energy company worldwide. Its Upstream segment engages in the exploration and production of crude oil and natural gas reserves. The company's Downstream segment in involved in refining and petrochemicals; trading and transportation of crude oil and oil products; marketing of oil products, chemical, and LPG; the marketing, transport, and regasification of natural gas and liquefied natural gas (LNG); and generation and sale of electricity and gas. The company also distributes and markets asphalt products; installs, operates, and manages gas stations; provides maritime services; constructs and operates oil refineries; refines and markets hydrocarbons; provides human resource services; distributes and supplies electricity; leases logistics assets; and develops new energy source projects, as well as produces and markets lubricants and biofuels. Further, it is involved in fuel marketing, research activities, regasification of LNG, marketing of chemical products, trading and transport, insurance and reinsurance, and financing activities. The company was formerly known as Repsol YPF, S.A. and changed its name to Repsol, S.A. in May 2012. Repsol, S.A. was founded in 1927 and is headquartered in Madrid, Spain.",
 'longName': 'Repsol, S.A.',
 'market': 'es_market',
 'marketCap': 9105123328,
 'maxAge': 1,
 'maxSupply': None,
 'messageBoardId': 'finmb_323502',
 'morningStarOverallRating': None,
 'morningStarRiskRating': None,
 'mostRecentQuarter': 1593475200,
 'navPrice': None,
 'netIncomeToCommon': -7472000000,
 'nextFiscalYearEnd': 1640908800,
 'open': 5.99,
 'openInterest': None,
 'payoutRatio': None,
 'pegRatio': -65.5,
 'phone': '34 91 753 81 00',
 'previousClose': 6.004,
 'priceHint': 2,
 'priceToBook': 0.40748495,
 'priceToSalesTrailing12Months': 0.26616943,
 'profitMargins': -0.21729,
 'quoteType': 'EQUITY',
 'regularMarketDayHigh': 6.062,
 'regularMarketDayLow': 5.92,
 'regularMarketOpen': 5.99,
 'regularMarketPreviousClose': 6.004,
 'regularMarketPrice': 5.99,
 'regularMarketVolume': 8792461,
 'revenueQuarterlyGrowth': None,
 'sector': 'Energy',
 'sharesOutstanding': 1509469952,
 'sharesPercentSharesOut': None,
 'sharesShort': None,
 'sharesShortPreviousMonthDate': None,
 'sharesShortPriorMonth': None,
 'shortName': 'REPSOL,  S.A.',
 'shortPercentOfFloat': None,
 'shortRatio': None,
 'startDate': None,
 'strikePrice': None,
 'symbol': 'REP.MC',
 'threeYearAverageReturn': None,
 'toCurrency': None,
 'totalAssets': None,
 'tradeable': False,
 'trailingAnnualDividendRate': 0.492,
 'trailingAnnualDividendYield': 0.08194537,
 'trailingEps': -4.995,
 'twoHundredDayAverage': 7.5522957,
 'volume': 8792461,
 'volume24Hr': None,
 'volumeAllCurrencies': None,
 'website': 'http://www.repsol.com',
 'yield': None,
 'ytdReturn': None,
 'zip': '28045'}