In [ ]:
from __future__ import print_function
import time
import intrinio_sdk as intrinio
from intrinio_sdk.rest import ApiException

intrinio.ApiClient().configuration.api_key['api_key'] = 'OjdjNWYxNjUzODU3MzkyNTE4YWRmZTk1ZTMwZTFiNTFi'

identifier = 'MSFT'
start_date = '2019-01-01'
end_date = '2020-08-29'
frequency = 'daily'
page_size = 100
next_page = ''

response = intrinio.SecurityApi().get_security_stock_prices(identifier, start_date=start_date, end_date=end_date, frequency=frequency, page_size=page_size, next_page=next_page)
print(response)

intrinio.screener('pricetoearnings~gt~10')

In [ ]:
from pymongo import MongoClient
from pprint import pprint
import numpy as np
import pandas as pd

client = MongoClient('mongodb+srv://readWrite-user:readWrite-pw@research.mrd30.mongodb.net/research?retryWrites=true&w=majority')

db = client.research
measurement_item = db.Measurement_item_info
cursor = db.get_collection('Measurement_item_info').find()

df =  pd.DataFrame(list(cursor))

print(df.to_dict("rows"))

print(df)
print(db)

In [ ]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect
import pandas as pd
import os
import psycopg2

server = Flask('app')
server.secret_key = os.environ.get('secret_key', 'secret')
server.config['SQLALCHEMY_DATABASE_URI'] = 'postgres://plrsqsxfozyrze:74a321364d3ec3d66ae04ea0711455ff1d224c5eb7e4f01d2d9e29dd99dddec8@ec2-34-198-103-34.compute-1.amazonaws.com:5432/dfk757hnbfc8ik'
# server.config['SQLALCHEMY_DATABASE_URI'] = 'postgresql://postgres:postgres@localhost:5432/Citibank.FYP'
server.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False
db = SQLAlchemy(server)

engine = create_engine(server.config['SQLALCHEMY_DATABASE_URI'])
inspector = inspect(engine)
inspector.get_columns('Client')

df = pd.read_sql('SELECT public.\"Client\".\"Ticker\" FROM public.\"Client\" lIMIT 5', engine)

print(df)

In [ ]:
import psycopg2
import numpy as np
import pandas as pd

conn = psycopg2.connect(
    host="localhost",
    database="Citibank.FYP",
    user="postgres",
    password="postgres")

cur = conn.cursor()
cur.execute("SELECT public.\"Client\".\"Ticker\" FROM public.\"Client\" lIMIT 5")
rows = cur.fetchall()
df =  pd.DataFrame(rows)
print(df)

cur.close()
conn.close()

In [ ]:
import numpy as np
import pandas as pd
import json
from pandas.io.json import json_normalize

df = pd.read_json(r'C:\Users\Harvey\Desktop\FYP\dump.json')
df.head()

In [ ]:
import numpy as np
import pandas as pd
import json
from pandas.io.json import json_normalize

df = pd.read_json(r'C:\Users\Harvey\Desktop\FYP\dump.json')

df['account'] = df.account.apply(lambda x: x[0])
df['position'] = df.position.apply(lambda x: x[0])
data = df.to_json(orient="records")
data = json.loads(data)
df = json_normalize(data, max_level=1)

df['position.scheduledDate'] = df['position.scheduledDate'].apply(lambda x: x[0])
df['position.valuation'] = df['position.valuation'].apply(lambda x: x[0])
data = df.to_json(orient="records")
data = json.loads(data)
df = json_normalize(data, max_level=3)

df['position.constituent.tradeReference.partyTradeIdentifier'] = df['position.constituent.tradeReference.partyTradeIdentifier'].str.get(0)
data = df.to_json(orient="records")
data = json.loads(data)
df = json_normalize(data, max_level=1)

df['position.constituent.holding.underlyingAsset.instrumentId.financialInstrument'] = df['position.constituent.holding.underlyingAsset.instrumentId'].str.get(0)
df['position.constituent.holding.underlyingAsset.instrumentId.ticker'] = df['position.constituent.holding.underlyingAsset.instrumentId'].str.get(1)
df = df.drop(columns="position.constituent.holding.underlyingAsset.instrumentId")
data = df.to_json(orient="records")
data = json.loads(data)
df = json_normalize(data, max_level=2)
df.head(300)

df['party.banker'] = df['party'].str.get(0)
df['party.ic'] = df['party'].str.get(1)
df['party.relationship'] = df['party'].str.get(2)
df['party.eg'] = df['party'].str.get(3)
df['party.pp'] = df['party'].str.get(4)
df['party.client'] = df['party'].str.get(5)
df = df.drop(columns="party")
df = df.drop(columns="position.constituent.holding.underlyingAsset.instrumentId.financialInstrument")
df = df.drop(columns="position.constituent.holding.underlyingAsset.instrumentId.ticker")
data = df.to_json(orient="records")
data = json.loads(data)
df = json_normalize(data, max_level=2)

df.to_csv("dump.csv")

In [7]:
import yfinance.__init__ as yf

stock = yf.Ticker("AAPL")
stock.info
stock.history()

              Open    High     Low   Close     Volume  Dividends  Stock Splits
Date
2020-09-03  126.91  128.84  120.50  120.88  257599600          0             0
2020-09-04  120.07  123.70  110.89  120.96  332607200          0             0
2020-09-08  113.95  118.99  112.68  112.82  231366600          0             0
2020-09-09  117.26  119.14  115.26  117.32  176940500          0             0
2020-09-10  120.36  120.50  112.50  113.49  182274400          0             0
2020-09-11  114.57  115.23  110.00  112.00  180860300          0             0
2020-09-14  114.72  115.93  112.80  115.36  140150100          0             0
2020-09-15  118.33  118.83  113.61  115.54  184642000          0             0
2020-09-16  115.23  116.00  112.04  112.13  154679000          0             0
2020-09-17  109.72  112.20  108.71  110.34  178011000          0             0
2020-09-18  110.40  110.88  106.09  106.84  287104900          0             0
2020-09-21  104.54  110.19  103.10  110.08  195713800          0             0
2020-09-22  112.68  112.86  109.16  111.81  183055400          0             0
2020-09-23  111.62  112.11  106.77  107.12  150718700          0             0
2020-09-24  105.17  110.25  105.00  108.22  167743300          0             0
2020-09-25  108.43  112.44  107.67  112.28  149981400          0             0
2020-09-28  115.01  115.32  112.78  114.96  137672400          0             0
2020-09-29  114.55  115.31  113.57  114.09   99382200          0             0
2020-09-30  113.79  117.26  113.62  115.81  142332500          0             0
2020-10-01  117.64  117.72  115.83  116.79  116120400          0             0
2020-10-02  112.89  115.37  112.22  113.02  144310900          0             0

In [8]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect
import pandas as pd
import os
import psycopg2
import yfinance.__init__ as yf
import math

server = Flask('app')
server.config['SQLALCHEMY_DATABASE_URI'] = 'postgres://plrsqsxfozyrze:74a321364d3ec3d66ae04ea0711455ff1d224c5eb7e4f01d2d9e29dd99dddec8@ec2-34-198-103-34.compute-1.amazonaws.com:5432/dfk757hnbfc8ik'
# server.config['SQLALCHEMY_DATABASE_URI'] = 'postgresql://postgres:postgres@localhost:5432/Citibank.FYP'
server.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False
db = SQLAlchemy(server)

engine = create_engine(server.config['SQLALCHEMY_DATABASE_URI'])
inspector = inspect(engine)
inspector.get_columns('Client')

df = pd.read_sql('SELECT * FROM public.\"Client\"', engine)

ticker_list = df.Ticker.unique()

ticker_list = list(filter(None, ticker_list))

yfinance_list = []
for ticker in ticker_list:
    ticker_row = [ticker]
    stock = yf.Ticker(ticker)
    #Include last Closing price in ticker_row
    ticker_row.append(float(stock.history(period="ytd")['Close'][len(stock.history(period="ytd"))-1]))
    
    #Include YTD% in ticker_row
    to_minus = float(stock.history(period="ytd")['Close'][0])
    ticker_row.append(round((ticker_row[1] / to_minus-1)*100 , 2))
    
    #Include 1d% in ticker_row
    to_minus = float(stock.history(period="ytd")['Close'][len(stock.history(period="ytd"))-2])
    ticker_row.append(round((ticker_row[1] / to_minus-1)*100 , 2))
    
    #Include 5d% in ticker_row
    to_minus = float(stock.history(period="5d")['Close'][0])
    ticker_row.append(round((ticker_row[1] / to_minus-1)*100 , 2))
    
    #Include 1mo% in ticker_row
    to_minus = float(stock.history(period="1mo")['Close'][0])
    ticker_row.append(round((ticker_row[1] / to_minus-1)*100 , 2))
    
    #Include 6mo% in ticker_row
    to_minus = float(stock.history(period="6mo")['Close'][0])
    ticker_row.append(round((ticker_row[1] / to_minus-1)*100 , 2))
    
    #Include 12mo% in ticker_row
    to_minus = float(stock.history(period="1y")['Close'][0])
    ticker_row.append(round((ticker_row[1] / to_minus-1)*100 , 2))
    
    #include Company Description in ticker_row
    ticker_row.append(stock.info["longBusinessSummary"])
    
    #Compile to yFinance list
    yfinance_list.append(ticker_row)

yfinance_df = pd.DataFrame(yfinance_list,columns=['Ticker','Closing Price','YTD%','1d %','5d %','1m %','6m %','12m %','Company Description'])

#Left join client df with yfinance df using "Ticker"
df = df.merge(yfinance_df, on='Ticker', how='left')

#Calculate % Change in Average Cost
avg_list = df["Average Unit Cost"].tolist()
closing_price_list = df["Closing Price"].tolist()

percentage_change = []
for i in range(len(avg_list)):
    if math.isnan(closing_price_list[i]) == False and avg_list[i] != None:
        percentage = (float(closing_price_list[i])/float(avg_list[i]) - 1) * 100
        percentage_change.append(percentage)
    else:
        percentage_change.append(None)

series = pd.Series(percentage_change, name="% Change from Avg Cost")

#Concatenate % Change in Average Cost series with Main df
df = pd.concat([df, series], axis=1)

df

,Bank Team,Bank Name,IC Name,Position As of Date,Relationship ID,EG Number,PP Code,Base Number,Portfolio Number,Financial Instrument Id,...,Security Name Line 1,Closing Price,YTD%,1d %,5d %,1m %,6m %,12m %,Company Description,% Change from Avg Cost
0,MR-AP Spore Malaysia Team,463eae5f99cf6682469ad81ab632e23638d11e709d6a7f...,7161c8127a8c0f6263b7b145bd96ee04f8c794b5b426ed...,12/8/2020,SR004088246,SR004088246-0005,SIHK,d910a069877d1f93f2d8efddeda160ea,444e0a04d84c5e013aa4e248d0718879,6.32E+11,...,AIA Group Ltd (1299.HK),75.9,-8.74,-0.33,-0.98,-4.46,13.43,4.39,"AIA Group Limited, together with its subsidiar...",86.486945
1,MR-AP Spore Malaysia Team,463eae5f99cf6682469ad81ab632e23638d11e709d6a7f...,ab69262756f26034f26fe68fa4e04d16,12/8/2020,SR004121255,SR004121255-0001,SIHK,daa46257957885b407114908997bee4d,1a7ab51cf957e97effc7b268c1c46165,5.21E+11,...,Ping An Insurance Group Co of China Ltd(2318.HK),79.5,-12.71,0.06,-1.18,-2.75,8.42,-9.22,"Ping An Insurance (Group) Company of China, Lt...",-8.424170
2,MR-AP Spore Philippines Team 1,0e48326c28743cf16d896a9dd6b2ce5f826d7c830a6835...,6381c66c21cbb3eec043f5a00d4d5b687b47a5b2cfa106...,12/8/2020,SR004022615,SR004022615-0007,SIHK,360cf70e13537634d061903c13139fff,35a1e60029f3ecb9d009fb5d9c3af69c,3.42E+11,...,BOC Hong Kong Holdings Ltd (2388.HK),20.4,-19.82,0.49,-0.24,-5.38,2.79,-18.47,"BOC Hong Kong (Holdings) Limited, an investmen...",-37.381824
3,MR-AP Spore Marketing Team 2,90121251a1060174c85cc7564aa26675,b7447d86049b0e266dce32b79f657058,12/8/2020,SR250824955,SR250824955-0005,SISI,5fb83ed1d370fb3906bfba168f316ef0,9e1f33f544772c08d12a89a9bc7e3d24,3.42E+11,...,BOC Hong Kong Holdings Ltd (2388.HK),20.4,-19.82,0.49,-0.24,-5.38,2.79,-18.47,"BOC Hong Kong (Holdings) Limited, an investmen...",-26.626623
4,MR-AP Spore Marketing Team 2,90121251a1060174c85cc7564aa26675,b7447d86049b0e266dce32b79f657058,12/8/2020,SR250824955,SR250824955-0001,SISI,ab0d9b58499dc5d984931f2f7041ab7c,6b49aadd141eb49381ee200b0d7a354e,9.20E+11,...,AEON REIT Investment Corp (3292 JP),118800.0,-16.33,-1.98,-1.33,4.76,28.97,-13.61,"AEON REIT Investment Corporation (hereinafter,...",-7.321175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7964,MR-AP Spore Marketing Team 4,22563ddc2157f7aeab31a43b5a585524,14a72149f27c20c5b53062f86e704683810f57d2cb979a...,10/5/2020,SR251271569,SR251271569-0007,SISI,22b9eb0e59fed3d0d039e81b01f890da,88d49dcf9a56f8115b2686a0ec9bf210,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7965,MR-AP Spore Marketing Team 4,22563ddc2157f7aeab31a43b5a585524,14a72149f27c20c5b53062f86e704683810f57d2cb979a...,10/5/2020,SR251271569,SR251271569-0007,SISI,22b9eb0e59fed3d0d039e81b01f890da,88d49dcf9a56f8115b2686a0ec9bf210,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7966,MR-AP Spore Marketing Team 4,22563ddc2157f7aeab31a43b5a585524,14a72149f27c20c5b53062f86e704683810f57d2cb979a...,10/5/2020,SR251271569,SR251271569-0007,SISI,22b9eb0e59fed3d0d039e81b01f890da,88d49dcf9a56f8115b2686a0ec9bf210,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7967,MR-AP Spore Marketing Team 4,22563ddc2157f7aeab31a43b5a585524,14a72149f27c20c5b53062f86e704683810f57d2cb979a...,10/5/2020,SR251271569,SR251271569-0007,SISI,22b9eb0e59fed3d0d039e81b01f890da,88d49dcf9a56f8115b2686a0ec9bf210,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7968,MR-AP Spore Marketing Team 4,b71f22535a22ff971d392eda8cf58995,14a72149f27c20c5b53062f86e704683143989100af6a9...,10/5/2020,SR251271569,SR251271569-0007,SISI,271c406d99fec7e79e7c3aadd7f06e0c,59517d90c401dd92646275a88b2ba4e8,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect
import pandas as pd
import os
import psycopg2
import yfinance.__init__ as yf
import math
import datetime as dt

stock = yf.Ticker("aapl")

# dt.date.fromtimestamp(stock.info["exDividendDate"]).strftime('%d/%m/%Y')

stock.history()

              Open    High     Low   Close     Volume  Dividends  Stock Splits
Date
2020-09-03  126.91  128.84  120.50  120.88  257599600          0             0
2020-09-04  120.07  123.70  110.89  120.96  332607200          0             0
2020-09-08  113.95  118.99  112.68  112.82  231366600          0             0
2020-09-09  117.26  119.14  115.26  117.32  176940500          0             0
2020-09-10  120.36  120.50  112.50  113.49  182274400          0             0
2020-09-11  114.57  115.23  110.00  112.00  180860300          0             0
2020-09-14  114.72  115.93  112.80  115.36  140150100          0             0
2020-09-15  118.33  118.83  113.61  115.54  184642000          0             0
2020-09-16  115.23  116.00  112.04  112.13  154679000          0             0
2020-09-17  109.72  112.20  108.71  110.34  178011000          0             0
2020-09-18  110.40  110.88  106.09  106.84  287104900          0             0
2020-09-21  104.54  110.19  103.10  110.08  195713800          0             0
2020-09-22  112.68  112.86  109.16  111.81  183055400          0             0
2020-09-23  111.62  112.11  106.77  107.12  150718700          0             0
2020-09-24  105.17  110.25  105.00  108.22  167743300          0             0
2020-09-25  108.43  112.44  107.67  112.28  149981400          0             0
2020-09-28  115.01  115.32  112.78  114.96  137672400          0             0
2020-09-29  114.55  115.31  113.57  114.09   99382200          0             0
2020-09-30  113.79  117.26  113.62  115.81  142675200          0             0
2020-10-01  117.64  117.72  115.83  116.79  116120400          0             0
2020-10-02  112.89  115.37  112.22  113.02  144310900          0             0